---
layout: default
---
<main class="content" role="main">
  <article class="post">
    <div class="post-meta">
      <h1 class="post-title">{{ page.title }}</h1>
    </div>
    <section class="post-content">
      <a name="topofpage"></a>
      {{content}}
    </section>
  </article>
</main>

<h3>Categories</h3>
{% for category in site.categories %}
    <a href="/category/{{ category[0] }}.html/" style="text-decoration: none;">{% if category[0] %}{{ category[0] | upcase }}{% endif %}</a><br>
{% endfor %}


{% include footer.html %}
